# {{ ansible_managed }}
export VAGRANT_DEFAULT_PROVIDER="{{ vagrant_default_provider }}"
export VAGRANT_EXPERIMENTAL="{{ vagrant_experimental }}"
export VAGRANT_FORCE_COLOR="{{ vagrant_force_color }}"
export VAGRANT_NO_PARALLEL="{{ vagrant_no_parallel }}"
